node_modules/*
!node_modules/expo-file-system
node_modules/expo-file-system/*
!node_modules/expo-file-system/android
node_modules/expo-file-system/android/*
!node_modules/expo-file-system/android/src/
node_modules/expo-file-system/android/src/main/*
!node_modules/expo-file-system/android/src/main/AndroidManifest.xml

.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
